<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item name="apteka.home" md-nav-sref="apteka.home">Home</md-nav-item>
  <md-nav-item name="apteka.sprzedajacy" md-nav-sref="apteka.sprzedajacy">Sprzedawcy</md-nav-item>
  <md-nav-item name="apteka.kupujacy" md-nav-sref="apteka.kupujacy">Klienci</md-nav-item>
  <md-nav-item name="apteka.produkty" md-nav-sref="apteka.produkt">Produkty</md-nav-item>
  <md-nav-item name="apteka.zamowienie" md-nav-sref="apteka.zamowienie">Zamówienie</md-nav-item>
  <md-nav-item name="apteka.sprzedaz" md-nav-sref="apteka.sprzedaz">Sprzedaż</md-nav-item>
</md-nav-bar>

