<md-dialog>    
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dodaj do koszyka</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
                 
                   <span style="font-size:16px; font-weight:bold; margin-left: 10px;">{{pozycja.produkt.nazwa}} </span>
                 <input ng-model="pozycja.ilosc" placeholder="szt." class="md-secondary" maxlength="4" style="width: 35px; float: right; margin-right: 10px;" >
                 
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary md-default-theme">
            Zamknij
        </md-button>
        <md-button ng-click="save()" class="md-primary">
            Dodaj
        </md-button>
    </md-dialog-actions>
</md-dialog>