<h2>
    <span flex>Nowe zamówienie</span>
</h2>
 
<md-content>
  <md-button class="md-raised md-primary" ng-click="$ctrl.pokazKoszyk()">
        Koszyk
    </md-button>
   <br/><label>Wyszukaj  produkt: <input ng-model="searchText" placeholder="Wpisz nazwę produktu..."></label>
   
       <table style="width:100%">
         <tr  style="text-align: left; font-weight: bold; font-size: 18px;" >
			<th  style="width: 38%; " >PRODUKT</th>
			<th  style="width: 12%;" >CENA</th>
			<th  style="width: 13%;" >REFUND.</th>
			<th  style="width: 13%;" >RECEPTA</th>
			<th  style="" >STAN</th>
		</tr>
   </table>
    
           <md-list> 
              
          <md-list-item ng-repeat="produkt in $ctrl.produkty | filter:searchText" ng-click="$ctrl.dodajDoKoszyka(produkt)"> 
               <div layout="column" style="width: 38%; padding-right: 10px;" >
                   <div flex><h3>{{produkt.nazwa }}</h3>
                   <p>{{produkt.opis}}</p>
                    </div>
                   </div>
                   <div layout="column" style="width: 16%" >
                <div flex>{{produkt.cena+' PLN'}}</div>
                   </div>
                <div layout="column" style="width: 10%"  >
                <div flex>{{produkt.refundacja+' %'}}</div>
            </div>
             <div layout="column" style="width: 15%"  >
                <div flex>{{produkt.recepta}}</div>
            </div>
             <div layout="column" style="width: 15%"  >
                <div flex>{{produkt.dostepnosc}}</div>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.dodajDoKoszyka(produkt)">
                <ng-md-icon icon="add" style="fill: grey;" size="30"></ng-md-icon>
            </md-button>
        </md-list-item>
        
    </md-list>

   
</md-content>